main {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-color: #B0D7FF;
}
p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  font-weight: bold;
  color: #333333;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
}